@using RGC_Service.Models.RGC_Service_Project_Model
@model CreateJobViewModel
@{
	/**/

	ViewBag.Title = "EditJob";
}





@using (Html.BeginForm("EditJob", "Claiminfo", FormMethod.Post))
{
	<div class="card">


		<div class="card-header bg-info">
			<h2 class="card-title">Create Job</h2>
		</div>
		<div class="card-body">


			@Html.Partial("_PartialClaiminfo", Model)

		</div>
		<div class="card-footer">
			<div class="row">
				<input type="submit" name="btnUpdate" id="btnUpdate" value="Update" class="col-md-2 btn btn-success btn-sm" />
			</div>
		</div>
	</div>

}
